* {
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcome {
}

.logo {
  width: 100%;
}
.greeting {
  font: Arial;
  color: lightblue;
}

.name {
  color: pink;
  font-family: "Muli", sans-serif;
  font-size: 55px;
}

.react {
  color: pink;
  font-family: "Muli", sans-serif;
  font-size: 40px;
}

.splash {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.splash_text {
  font-family: "Creepster", cursive;
  font-size: 60px;
  color: pink;
  -webkit-text-stroke: 1px lime;
}

.registration {
  width: inherit;
}

.app_main {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#friends_container {
  top: 20%;
  left: 5%;
  position: absolute;
  display: flex;

  flex-direction: row;

  background-color: silver;
}

#frenemies_container {
  bottom: 20%;
  left: 5%;

  position: absolute;
  display: flex;

  flex-direction: row;

  background-color: silver;
}

#header_component {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.5);

  box-shadow: 0px -10px 39px 13px rgba(0, 0, 0, 0.5);
}

#header_logo {
  animation: slide-in-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  color: white;
  height: 60px;
  margin: 0 auto;
  width: 100px;

  font-family: "Libre Barcode 128 Text", cursive;
  font-size: 80px;
}

#profilepic {
  animation: slide-in-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  position: absolute;
  align-content: center;
  right: 49%;
  left: 49%;
  width: 50px;
  height: 50px;
  overflow: hidden;
  object-fit: cover;
  top: 10px;
  left: 10px;

  border-radius: 200px 200px 200px 0px;

  border: 3px solid white;
}

#profile_container {
  margin: 100px 0 0 0;

  border-radius: 200px 200px 0px 0px;
  width: 200px;
  height: 350px;

  background-color: white;
  /* border: 3px solid silver; */
  box-shadow: 0px -31px 114px -33px rgba(0, 0, 0, 0.75);
}

#picInProfile {
  width: 100px;
  height: 100px;
  overflow: hidden;
  object-fit: cover;
  margin-top: 35px;
  margin-left: 45px;
  border-radius: 50px 50px 50px 0px;
  border: 3px solid white;
}

#profile_info {
  margin-bottom: 100px;
}

#small_text {
  width: 150px;
  overflow-y: scroll;
  top: 5px;
  font-size: 15px;
  font-family: "Roboto", cursive;

  margin-left: 25px;
}

#biger_text {
  margin-top: 5px;
  margin-left: 25px;
  font-size: 20px;
  font-family: "Roboto", cursive;
}

#text_area {
  margin-left: 25px;
  width: 150px;
  height: 50px;
}

#profile_container_friends {
  position: absolute;
  align-content: center;
  right: 57%;
  left: 42%;
  margin-bottom: auto;
  top: 100px;
  border-radius: 200px 200px 0px 0px;
  width: 200px;

  border: 0px solid #000000;
  background-color: silver;
  border: 3px solid white;
}

#friendlist {
  top: 100px;
  left: 20px;
  position: absolute;

  background-color: silver;
}
#uploadButton:hover {
  cursor: pointer;
  top: 10px;
  background-color: none;
  color: grey;
  font-family: "Libre Barcode 128 Text", cursive;
  font-size: 45px;
}

#uploadButton {
  background-color: none;
  color: white;
  font-family: "Libre Barcode 128 Text", cursive;
  font-size: 45px;
}

#modal {
  color: white;
  font-family: "Libre Barcode 128 Text", cursive;
  font-size: 45px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 20%;
  bottom: 20%;
  left: 20%;
  right: 20%;
  background-color: rgba(0, 0, 0, 0.8);

  z-index: 3;
}

.smallLogo {
  color: white;
  margin-top: 30%;
  font-size: 50px;
  font-family: "Libre Barcode 128 Text", cursive;
}

#login_block {
  border-top: 10px;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  animation: fade-in-bck 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;

  border-radius: 20px 20px 200px 200px;

  -webkit-box-shadow: 0px 10px 0px 0px rgba(189, 189, 189, 1);
  -moz-box-shadow: 0px 10px 0px 0px rgba(189, 189, 189, 1);
  box-shadow: -2px 26px 63px -18px rgba(0, 0, 0, 1);
}

#input_fields {
  border-radius: 0px 200px 200px 200px;
  -moz-border-radius: 0px 200px 200px 200px;
  -webkit-border-radius: 0px 200px 200px 200px;
}

.link_text {
  font-family: "Roboto", cursive;
}

#logo_text {
  color: white;
  margin-top: 40%;
  font-size: 250px;
  font-family: "Libre Barcode 128 Text", cursive;
  -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

#reg_block {
  border-top: 10px;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  animation: fade-in-bck 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;

  border-radius: 20px 20px 200px 200px;

  -webkit-box-shadow: 0px 10px 0px 0px rgba(189, 189, 189, 1);
  -moz-box-shadow: 0px 10px 0px 0px rgba(189, 189, 189, 1);
  box-shadow: -2px 26px 63px -18px rgba(0, 0, 0, 1);
}

/* #logo_text {
  color: white;
  margin-top: 40%;
  font-size: 300px;
  font-family: "Libre Barcode 128 Text", cursive;
} */

#background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  z-index: -1;
  color: #fff;
  background: linear-gradient(1deg, #844d8d, #ad53ba, #3426b2, #cfcfd0);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

/* font-family: 'Muli', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Cinzel', serif;
font-family: 'Great Vibes', cursive;
font-family: 'Courgette', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Lobster Two', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Caveat', cursive;
font-family: 'Bangers', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Russo One', sans-serif;
font-family: 'Creepster', cursive;
font-family: 'Sancreek', cursive; */
