* {
  background-color: lightgrey;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  width: 100%;
}
.greeting {
  font: Arial;
  color: lightblue;
}

.name {
  color: pink;
  font-family: "Muli", sans-serif;
  font-size: 55px;
}

.react {
  color: pink;
  font-family: "Muli", sans-serif;
  font-size: 40px;
}

.splash {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.splash_text {
  font-family: "Creepster", cursive;
  font-size: 60px;
  color: pink;
    -webkit-text-stroke: 1px lime;
}

.registration {
  width: inherit;
}

/* font-family: 'Muli', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Cinzel', serif;
font-family: 'Great Vibes', cursive;
font-family: 'Courgette', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Lobster Two', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Caveat', cursive;
font-family: 'Bangers', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Russo One', sans-serif;
font-family: 'Creepster', cursive;
font-family: 'Sancreek', cursive; */
