/* GENERAL THINGS */

* {
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 600px;
}

.logo {
  width: 100%;
}
.greeting {
  font: Arial;
  color: lightblue;
}

.name {
  color: pink;
  font-family: "Muli", sans-serif;
  font-size: 55px;
}

.react {
  color: pink;
  font-family: "Muli", sans-serif;
  font-size: 40px;
}

.splash {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.splash_text {
  font-family: "Creepster", cursive;
  font-size: 60px;
  color: pink;
  -webkit-text-stroke: 1px lime;
}

.registration {
  width: inherit;
}

.app_main {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.link_text {
  font-family: "Roboto", cursive;
}

.smallLogo {
  color: white;
  margin-top: 30%;
  font-size: 50px;
  font-family: "Libre Barcode 128 Text", cursive;
}

.friendship_button {
  margin-left: 35%;
  height: 50px;
  font-family: "Roboto", cursive;
  width: 60px;
  border-radius: 50px 50px 50px 0px;
}

#c {
  display: flex;
  position: absolute;
  flex-direction: column;
}

#uploadButton {
  background-color: none;
  color: white;
  font-family: "Libre Barcode 128 Text", cursive;
  font-size: 45px;
}

#modal {
  color: white;
  font-family: "Libre Barcode 128 Text", cursive;
  font-size: 45px;

  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: absolute;
  /* this is how you center to the tru center */
  top: 35%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;

  height: 400px;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 50% 50% 50% 5%;
  border: 3px solid white;
  z-index: 3;
  box-shadow: -2px 26px 63px -18px rgba(0, 0, 0, 1);
}

#login_block {
  border-top: 10px;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  animation: fade-in-bck 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;

  border-radius: 20px 20px 200px 200px;

  -webkit-box-shadow: 0px 10px 0px 0px rgba(189, 189, 189, 1);
  -moz-box-shadow: 0px 10px 0px 0px rgba(189, 189, 189, 1);
  box-shadow: -2px 26px 63px -18px rgba(0, 0, 0, 1);
}

#input_fields {
  border-radius: 0px 200px 200px 200px;
  -moz-border-radius: 0px 200px 200px 200px;
  -webkit-border-radius: 0px 200px 200px 200px;
}

#logo_text {
  color: white;
  margin-top: 40%;
  font-size: 250px;
  font-family: "Libre Barcode 128 Text", cursive;
  -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

#reg_block {
  border-top: 10px;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  animation: fade-in-bck 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;

  border-radius: 20px 20px 200px 200px;

  -webkit-box-shadow: 0px 10px 0px 0px rgba(189, 189, 189, 1);
  -moz-box-shadow: 0px 10px 0px 0px rgba(189, 189, 189, 1);
  box-shadow: -2px 26px 63px -18px rgba(0, 0, 0, 1);
}

#myInput {
}

#friends_container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  flex-direction: row;
  left: 20px;
  top: 100px;
}

#friend_profile_container {
  border-radius: 50% 50% 50% 0%;
  width: 100px;
  height: 100px;
  padding-right: 30px;
  margin-right: 30px;
  padding-bottom: 30px;
  background-color: white;
  box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.3);
  -webkit-animation: fade-in-fwd 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
  animation: fade-in-fwd 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

#picInProfile_friends {
  width: 100px;
  height: 100px;
  overflow: hidden;
  object-fit: cover;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 50px 50px 50px 0px;
  border: 3px solid white;
}

#profile_container_wanabees {
  border-radius: 50% 50% 50% 0%;
  width: 100px;
  height: 100px;
  padding-right: 30px;
  margin-right: 30px;
  padding-bottom: 30px;
  background-color: white;
  box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.3);
  -webkit-animation: fade-in-fwd 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
  animation: fade-in-fwd 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

#friends_page_text {
  position: absolute;
  left: 10px;
  bottom: 2px;
  font-family: "Roboto", cursive;
  font-size: 12px;
}

#picInProfile_online {
  width: 80px;
  height: 80px;
  overflow: hidden;
  object-fit: cover;
  margin-top: 22%;
  margin-left: 22%;
  border-radius: 50% 50% 50% 0px;
  border: 3px solid white;
}

#friends_online_text {
  color: white;

  width: 100px;

  top: 120px;
  font-size: 15px;
  font-family: "Roboto", cursive;
  -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
  animation: fade-in-fwd 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

#onlineUsers_container {
  margin-top: 150px;
  display: flex;

  flex-direction: row;
}
#online_small_text {
  margin: 0 auto;
  top: 5px;
  font-size: 12px;
  font-family: "Roboto", cursive;

  margin-left: 25px;
}

#frenemies_container {
  bottom: 20%;

  position: absolute;
  display: flex;
  flex-direction: row;
}

#header_component {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 600px;

  box-shadow: 0px -10px 39px 13px rgba(0, 0, 0, 0.5);
}

/* #header_logo,
#chat_text,
#online_text,
#friends_text {



} */

#header_logo {
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  color: white;
  height: 60px;
  margin: 0 auto;
  width: 100px;

  font-family: "Libre Barcode 128 Text", cursive;
  font-size: 80px;
}

#logout_text {
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  position: absolute;
  right: 10px;
  top: 30px;
  color: white;
  font-size: 15px;
  font-family: "Roboto", cursive;
}

#chat_text {
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  position: absolute;
  right: 70px;
  top: 30px;
  color: white;
  font-size: 15px;
  font-family: "Roboto", cursive;
}

#online_text {
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  position: absolute;
  right: 120px;
  top: 30px;
  color: white;
  font-size: 15px;
  font-family: "Roboto", cursive;
}

#friends_text {
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  position: absolute;
  right: 180px;
  top: 30px;
  color: white;
  font-size: 15px;
  font-family: "Roboto", cursive;
}

#profilepic {
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  position: absolute;
  align-content: center;
  right: 49%;
  left: 49%;
  width: 50px;
  height: 50px;
  overflow: hidden;
  object-fit: cover;
  top: 10px;
  left: 10px;

  border-radius: 200px 200px 200px 0px;

  border: 3px solid white;
}

#profile_container {
  margin: 100px 0 0 0;

  border-radius: 200px 200px 200px 0px;
  width: 200px;
  height: 350px;

  background-color: white;
  /* border: 3px solid silver; */
  box-shadow: 0px -31px 114px -33px rgba(0, 0, 0, 0.75);
}

#picInProfile {
  width: 100px;
  height: 100px;
  overflow: hidden;
  object-fit: cover;
  margin-top: 35px;
  margin-left: 45px;
  border-radius: 50px 50px 50px 0px;
  border: 3px solid white;
  box-shadow: 0px 0px 82px -17px rgba(0, 0, 0, 0.25);
}

#profile_info {
  margin-bottom: 100px;
}

#small_text {
  width: 150px;
  overflow-y: scroll;
  top: 5px;
  font-size: 15px;
  font-family: "Roboto", cursive;

  margin-left: 25px;
}

#biger_text {
  margin-top: 5px;
  margin-left: 25px;
  font-size: 20px;
  font-family: "Roboto", cursive;
}

#text_area {
  margin-left: 25px;
  width: 150px;
  height: 50px;
}

#notification_modal {
  color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  /* this is how you center to the tru center */
  top: 35%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
  height: 400px;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 50% 50% 50% 5%;
  border: 3px solid white;
  z-index: 3;
  box-shadow: -2px 26px 63px -18px rgba(0, 0, 0, 1);
}

#the-x {
  cursor: pointer;
  position: absolute;
  color: white;
  font-family: "Roboto", bold;
  bottom: 45px;
}

#profile_container_friends {
  position: absolute;
  align-content: center;
  right: 57%;
  left: 42%;
  margin-bottom: auto;
  top: 100px;
  border-radius: 200px 200px 0px 0px;
  width: 200px;

  border: 0px solid #000000;
  background-color: silver;
  border: 3px solid white;
  box-shadow: 0px -31px 114px -33px rgba(0, 0, 0, 0.75);
}

#friendlist {
  top: 100px;
  left: 20px;
  position: absolute;

  background-color: silver;
}

/* CHAT STUFF */

#chat_wrapper {
  background-color: white;
  position: absolute;
  left: 30%;
  border-radius: 25px 25px 25px 0px;
  top: 100px;
  width: 400px;
  height: 85%;
  box-shadow: 0px -31px 114px -33px rgba(0, 0, 0, 0.75);
}

#chat_header {
  left: 100px;
  position: absolute;
  top: 5px;
  font-family: "Libre Barcode 128 Text", cursive;
  font-size: 50px;
}

#chat_input {
  font-family: "Roboto", cursive;
}

#chat_message_area {
  top: 60px;
  left: 10%;
  height: 70%;
  width: 80%;
  position: absolute;
  overflow: scroll;
  border-radius: 20px 20px 20px 5px;
  border: 1px solid black;
}

#chat_messages_container {
  left: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  font-family: "Roboto", cursive;
}

.chat-avatar-box {
  height: 30px;
  width: 30px;
  overflow: hidden;
  border-radius: 50% 0% 50% 50%;
}

.chat-message-avatar {
  left: 5px;
  height: 25px;
  width: 25px;
  overflow: hidden;
  border-radius: 50% 0% 50% 50%;
}
#chat_textarea {
  font-family: "Roboto", cursive;
  font-size: 15px;
  position: absolute;
  bottom: 10%;
  width: 80%;
  left: 10%;
  overflow: scroll;
  border-radius: 20px 20px 20px 5px;
}

#background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  z-index: -1;
  color: #fff;
  background: linear-gradient(1deg, #844d8d, #ad53ba, #3426b2, #cfcfd0);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

/* font-family: 'Muli', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Cinzel', serif;
font-family: 'Great Vibes', cursive;
font-family: 'Courgette', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Lobster Two', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Caveat', cursive;
font-family: 'Bangers', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Russo One', sans-serif;
font-family: 'Creepster', cursive;
font-family: 'Sancreek', cursive; */
